/*-------------HEADER------------*/
.header__logo{
    width: 7rem;
    height: auto;
    img{
        width: 100%;
    }
}
.header__navbar{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    align-content: space-between;
    justify-content: space-between;
    li{
        padding: 0.1rem;
    }
}

.navbar-brand__modificado{
    color: aliceblue;
}
.nav-link__modificado{
    display: block;
    font-family: var(--bs-body-font-family);
    text-transform: uppercase;
    color: aliceblue;
    font-size: 2rem;
    background-color: lightcoral;
    padding: 0.2rem;
    margin: 5px;
    border: solid;
    border-color: gray;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    &:hover{
        background-color: aliceblue;
    }
}